{
  "extends": [
    "standard",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "max-len": [
      2,
      {
        "code": 120
      }
    ],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "import/export": 0,
    "no-console": [
      2
    ],
    "no-extra-semi": 2,
    "object-curly-spacing": [
      2,
      "always"
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      2,
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "semi-spacing": [
      2,
      {
        "before": false,
        "after": true
      }
    ],
    "no-useless-escape": 0
  },
}