#MONGO DATABASE
MONGO_ADDRESS=localhost
MONGO_PORT=27017
MONGO_LOGIN=mongo
MONGO_PASSWORD=123

#SERVER
PORT=3001

#JSONWEBTOKEN
JWT_ACCESS_TOKEN_SECRET=secret
JWT_REFRESH_TOKEN_SECRET=secret

#NODE MAILER
SMTP_USERNAME=test
SMTP_SECRET=test
SMTP_HOST=test
MAIL_FROM=no-reply@clean-app.com