#POSTGRES DATABASE
POSTGRES_ADDRESS=localhost
POSTGRES_PORT=5432
POSTGRES_LOGIN=postgres
POSTGRES_PASSWORD=123
POSTGRES_DATABASE=postgres

#SERVER
PORT=3001

#JSONWEBTOKEN
JWT_ACCESS_TOKEN_SECRET=secret
JWT_REFRESH_TOKEN_SECRET=secret

#NODE MAILER
SMTP_USERNAME=test
SMTP_SECRET=test
SMTP_HOST=test
MAIL_FROM=no-reply@clean-app.com