#NEO4J DATABASE
NEO4J_ADDRESS=localhost
NEO4J_PORT=7687
NEO4J_LOGIN=neo4j
NEO4J_PASSWORD=12345678

#SERVER
PORT=3001

#JSONWEBTOKEN
JWT_ACCESS_TOKEN_SECRET=secret
JWT_REFRESH_TOKEN_SECRET=secret

#NODE MAILER
SMTP_USERNAME=test
SMTP_SECRET=test
SMTP_HOST=test
MAIL_FROM=no-reply@clean-app.com