#MYSQL DATABASE
MYSQL_ADDRESS=localhost
MYSQL_PORT=3306
MYSQL_LOGIN=mysql
MYSQL_PASSWORD=123
MYSQL_DATABASE=mydb

#SERVER
PORT=3001

#JSONWEBTOKEN
JWT_ACCESS_TOKEN_SECRET=secret
JWT_REFRESH_TOKEN_SECRET=secret

#NODE MAILER
SMTP_USERNAME=test
SMTP_SECRET=test
SMTP_HOST=test
MAIL_FROM=no-reply@clean-app.com